	@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
	
	body{
		font-family: 'NanumGothic';
		color: #333333;
		font-size: 20px;
		background-color: #595959;
	}
	
	ul{
		list-style-type: none;		
	}
		
	#header{	
		text-align: center;
		background-color:#595959;
	}
	
	#frame{
		overflow: auto;
	}
	
	#sidebar ul{
		overflow: hidden;	
	}
	
	#sidebar ul li{
		float: left;
		display: block;
		padding: 20px;
		border: 1px solid black;
		background-color:#595959;
		border: hidden;
	}
	
	#sidebar ul ul{
		display: none;
		position: absolute;
	}
	
	#sidebar li:hover > ul{
		display: block;
		padding: 5px;
		margin-top: 15px;
		margin-left: -25px;
	}
	
	#sidebar ul li a{
		text-decoration: none;
		color: white;
	}
	
	#sidebar ul li:hover{
		background: black;
		color: white;
		background-color: #3399ff;
	
	}
	
	
	
	
	#content{
		border: 1px solid #33cc33;
		float: middle;
		width: 95%;
		background-color: white;
		padding: 30px;
	}
	
	#footer{
		text-align: center;
		float: bottom;
		border-top: 1px;
		color: white;
	}
	
	
	.headericon{
		width: 150px;
	}
	
	.titleicon{
		width: 25px;
	}
	
	.title{
		font-size: 30px;
	}
	
	.subt{
		color: #2a2aa2;
		font-size: 20px;
		font-weight: bold;
	}

	
	.logo{
		width: 100px;
	}
	
	.buttons{
		display: inline-block;
		color: white;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
		border: none;
		padding: 15px;
		margin: 15px;
		font: 15px bold;
		background-color: #595959;
	}
	
	.buttons a{
		color: white;
		text-decoration: none;	
	}
	
	.buttons:hover{
		background-color: #3399ff;		
	}
	
	.text1.text2.text3.text4.text5.text6{
		display: none;
	}
	
	.explbox {
		text-align: center;
		border: 1px solid;
		font-style: italic;
		background-color: #f2f2f2;
		padding: 20px;
		margin: 20px;
	}
	
	.jobtable {
		width: 80%;
		padding: 10px;
		margin: 20px;
		border: 1px solid;
		text-align: center;
	}
	
	.totop{
		position: fixed;
		text-decoration: none;
		left: 90%;
		bottom: 20px;
		display: block;
		margin: 10px;
		color: white;
		background-color: #3399ff;		
	}