	@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
	
	body{
		font-family: 'NanumGothic';
		color: #333333;
		font-size: 20px;
	}
	
	ul{
		list-style-type: none;		
	}
		
	#header{
		padding: 20px;
		text-align: center;
	}
	
	#frame{
		overflow: auto;
	}
	
	#sidebar{
		list-style-type: none;
		background-color: #ccf2ff;
		float: left;
		margin: 0px;
		padding: 0px;
		width: 170px;
		border-right: solid 10px #66797F;
	}
	
	#sidebar ul{

		margin: 0px;
		margin-left: -40px;
	}
	
	#sidebar a{
		display: block;
		color: #404040;
		width: 170px;
		height: 30px;
		padding-top: 10px;
		text-decoration: none;
		font-weight: bold;
	}
	
	#sidebar a:hover, a:active{
		background-color: #66797F;
		color: white;
	}
	
	.nowlink{
		background-color: #66797F;
	}
	
	#sidebar ul ul{
		display: none;
	}
	
	#sidebar ul li:hover ul{
		display: block;
		background-color: #66797F;
		text-align: right;
	}
	
	
	#content{
		border: 1px solid #3399ff;
		float: right;
		width: 80%;
		background-color: white;
		padding: 30px;
	}
	
	#footer{
		text-align: center;
		float: bottom;
		border-top: 1px;
	}
	
	
	.headericon{
		width: 150px;
	}
	
	.titleicon{
		width: 25px;
	}
	
	.title{
		color: #2a2aa2;
		font-size: 25px;
		font-weight: bold;
	}
	
	.subt{
		color: #2a2aa2;
		font-size: 20px;
		font-weight: bold;
	}

	
	.logo{
		width: 100px;
	}
	
	.buttons{
		display: inline-block;
		color: white;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
		border: none;
		background-color: #3399ff;
		padding: 15px;
		margin: 15px;
		font: 15px bold;
	}
	
	.buttons a{
		color: white;
		text-decoration: none;	
	}
	
	.expbox {
		font-style: italic;
		background-color: #f2f2f2;
		border: 1px solid black;
		padding: 20px;
		margin: 20px;
	}